<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SpringBoot</title>
    <style>
        .dashboard-data{
            line-height: 1.2em;
        }
    </style>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=${menu})"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="${title}">Selamat Datang</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:each="column : ${cols}" th:text="${column}">No</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row : ${rows}">
                            <th th:each="col : ${row.cols}" th:text="${col}">No</th>

                            <td><a th:href="@{/{type}/edit/{id}(id=${row.id},type=${row.type})}"
                                   class="btn btn-info">Edit</a></td>
                            <td>
                                <form th:action="@{/{type}/delete/{id}(id=${row.id},type=${row.type})}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th th:each="column : ${columns}" th:text="${column}">No</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div><!--/.main-->
<!--/.content-->
<div th:replace="template/lumino-footer :: js-lib"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function(){
        var table = $('#example').DataTable();
        $('#example').css("width","100%");
        $('.dataTables_scrollBody').height('265px');
        /*]]>*/
    })();
</script>
</body>

</html>
