<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SpringBoot</title>
    <style>
        .dashboard-data{
            line-height: 1.2em;
        }
    </style>
</head>
<body>
<div th:replace="template/lumino-header :: header(currentActive=3)"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Soal</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-9" style="background: white;margin-left: 15px;">
            <form th:action="@{/soal/save}" th:object="${soal}" method="post" style="padding: 5px;">
                <input
                            type="hidden" class="form-control" id="exampleInputEmail1"
                            placeholder="0" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Bidang</label>
                    <select class="form-control" th:field="*{bidang}">
                        <option th:each="bidang : ${bidangmodels}" th:value="${bidang.id}" th:text="${bidang.nama}">1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tingkat</label>
                    <select class="form-control" th:field="*{tingkat}">
                        <option th:each="tingkat : ${tingkatmodels}" th:value="${tingkat.id}" th:text="${tingkat.nama}">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Text Soal</label>
                    <input
                            type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Text Soal" th:field="*{textSoal}"/>
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>

        </div>
    </div>
</div><!--/.main-->
<!--/.content-->
<div th:replace="template/lumino-footer :: js-lib"></div>
</body>

</html>