<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header(currentActive)">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:src="@{/vendors/select2/css/select2.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/lumino.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <!--Icons-->
    <script th:src="@{/bootstrap/js/lumino.glyphs.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/bootstrap/js/html5shiv.js}"></script>

    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><span>Spring </span>Boot</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <svg class="glyph stroked male-user">
                                <use xlink:href="#stroked-male-user"></use>
                            </svg>
                            <b>Admin</b>
                        </a>
                    </li>
                </ul>

            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

        <ul class="nav menu" style="margin-top:25px;">
            <li th:classappend="${currentActive==0 ? 'active':''}"><a th:href="@{/}">
                <svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>
                Dashboard</a></li>

            <li class="parent"
                th:classappend="${currentActive==1 ? 'active':''}">
                <a th:href="@{/bidang/list}">
                <span
                        data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down">
                    <use
                            xlink:href="#stroked-chevron-down"></use></svg></span>
                    <svg
                            class="glyph stroked email"><use xlink:href="#stroked-email"/></svg> Bidang
                </a>
                <ul class="children collapse"  th:classappend="${currentActive==1} ? in : ''" id="sub-item-1">
                    <li>
                        <a class="" th:href="@{/bidang/input}">
                            <svg class="glyph stroked chevron-right">
                                <use xlink:href="#stroked-chevron-right"></use>
                            </svg>
                            Tambah Bidang
                        </a>
                    </li>
                </ul>
            </li>

            <li class="parent"
                th:classappend="${currentActive==2 ? 'active':''}">
                <a th:href="@{/tingkat/list}">
                <span
                      data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked chevron-down">
                    <use
                            xlink:href="#stroked-chevron-down"></use></svg></span>
                    <svg
                         class="glyph stroked email"><use xlink:href="#stroked-email"/></svg> Tingkat
                </a>
                <ul class="children collapse"  th:classappend="${currentActive==2} ? in : ''" id="sub-item-2">
                    <li>
                        <a class="" th:href="@{/tingkat/input}">
                            <svg class="glyph stroked chevron-right">
                                <use xlink:href="#stroked-chevron-right"></use>
                            </svg>
                            Tambah Tingkat
                        </a>
                    </li>
                </ul>
            </li>

            <li class="parent"
                th:classappend="${currentActive==3 ? 'active':''}">
                <a th:href="@{/soal/list}">
                <span
                        data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked chevron-down">
                    <use
                            xlink:href="#stroked-chevron-down"></use></svg></span>
                    <svg
                            class="glyph stroked email"><use xlink:href="#stroked-email"/></svg> Soal
                </a>
                <ul class="children collapse"  th:classappend="${currentActive==3} ? in : ''" id="sub-item-3">
                    <li>
                        <a class="" th:href="@{/soal/input}">
                            <svg class="glyph stroked chevron-right">
                                <use xlink:href="#stroked-chevron-right"></use>
                            </svg>
                            Tambah Soal
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </div><!--/.sidebar-->
</div>
</body>
</html>